<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('template/file') %>
</head>
<body>
  <%- include('template/head') %>

  <div class="container-fluid">
    <div class="row">
      <%- include('template/menu' , {name : '职位添加'}) %>
      <main  role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <%- include('template/breadcrumb',{ name : [{ link : '' , value : '职位添加' }] }) %>
      <form  action="/works/admin" method="POST" class="p-3 col-8 offset-2 mb-5" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">职位名称</label>
          <input type="text" name="name" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="location">位置</label>
          <input type="text" class="form-control" name="location"
          id="location">
        </div>
        <div class="form-group">
          <label for="company">公司</label>
          <input type="text" 
          name="company" class="form-control" id="company">
        </div>
        <div class="form-group">
          <label for="wages">工资</label>
          <select class="form-control" id="wages" name="wages">
            <option>5k以下</option>
            <option>5k-10k</option>
            <option>10k-15k</option>
            <option>15k-20k</option>
            <option>20k-25k</option>
          </select>
        </div>
        <div class="form-group">
          <label for="WorkYears">工作时间</label>
          <select class="form-control" id="WorkYears" name="WorkYears">
            <option>不限</option>
            <option>1-2年</option>
            <option>2-3年</option>
            <option>3-5年</option>
            <option>5年以上</option>
          </select>
        </div>
        <div class="form-group">
          <label for="education">学历</label>
          <select class="form-control" id="education" name="education">
            <option>不限</option>
            <option>高中</option>
            <option>大专</option>
            <option>本科</option>
            <option>研究生硕士</option>
            <option>博士</option>
          </select>
        </div>
        <div class="form-group">
          <label for="number">招聘人数</label>
          <input type="text" 
          name="number" class="form-control" id="company">
        </div>
        <div class="form-group">
          <label for="image" class="btn btn-primary">公司logo
            <input type="file" name="image" class="form-control d-none" id="image">
          </label>
          <img id="companyImg" alt="">
        </div>
        <div class="form-group">
          <label for="requirement">职位要求</label>
          <textarea name="requirement" class="form-control" id="company" autocomplete="off" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
      </form>
      </main>
    </div>
  </div>
  <script>
    $("#image").change(function(){
      var fileReader = new FileReader();
      fileReader.onload = function(e){
        $('#companyImg').attr('src' , e.target.result)
      };
      var imageFile = this.files[0];
      fileReader.readAsDataURL(imageFile)
    })
  </script>
</body>
</html>